<div class="container">
  <h2>Lançamento de Horas Trabalhadas</h2>
  <form [formGroup]="horasForm" (ngSubmit)="salvarHoras()">
    <div class="form-group">
      <label for="data">Data:</label>
      <input type="date" id="data" formControlName="data" required />
      <div
        *ngIf="horasForm.get('data')?.invalid && horasForm.get('data')?.touched"
        class="error-message"
      >
        A data é obrigatória.
      </div>
    </div>

    <div class="form-group">
      <label for="horas">Horas Trabalhadas:</label>
      <input type="number" id="horas" formControlName="quantidade" required />
      <div
        *ngIf="
          horasForm.get('quantidade')?.invalid &&
          horasForm.get('quantidade')?.touched
        "
        class="error-message"
      >
        As horas devem ser um número maior que 0.
      </div>
    </div>

    <button type="submit" [disabled]="horasForm.invalid">Salvar</button>
  </form>
</div>
