<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened>
    <!-- Botão para Minimizar/Maximizar -->
    <div class="sidebar-header">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>{{
          sidenav.opened ? "chevron_left" : "chevron_right"
        }}</mat-icon>
      </button>
    </div>

    <!-- Links do Sidebar -->
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard-admin" matTooltip="Dashboard">
        <mat-icon>dashboard</mat-icon>
        <span *ngIf="sidenav.opened">Dashboard</span>
      </a>
      <a mat-list-item routerLink="/lancar-horas" matTooltip="Lançar Horas">
        <mat-icon>schedule</mat-icon>
        <span *ngIf="sidenav.opened">Lançar Horas</span>
      </a>
      <a mat-list-item routerLink="/relatorios" matTooltip="Relatórios">
        <mat-icon>assessment</mat-icon>
        <span *ngIf="sidenav.opened">Relatórios</span>
      </a>
      <a mat-list-item routerLink="/atividade" matTooltip="Atividade">
        <mat-icon>assessment</mat-icon>
        <span *ngIf="sidenav.opened">Atividade</span>
      </a>
      <a mat-list-item routerLink="/projetos" matTooltip="Projetos">
        <mat-icon>assessment</mat-icon>
        <span *ngIf="sidenav.opened">Projetos</span>
      </a>
      <a mat-list-item routerLink="/cad-users" matTooltip="Criar Usuário">
        <mat-icon>person_add</mat-icon>
        <span *ngIf="sidenav.opened">Criar Usuário</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="logout()" matTooltip="Logout">
        <mat-icon>logout</mat-icon>
        <span *ngIf="sidenav.opened">Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Conteúdo Principal -->
  <mat-sidenav-content>
    <!-- Botão Flutuante para Reabrir o Sidebar -->
    <button
      *ngIf="!sidenav.opened"
      mat-fab
      color="primary"
      class="sidebar-toggle-button"
      (click)="sidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Seu conteúdo atual (métricas, gráficos, tabela) -->
    <mat-grid-list cols="4" rowHeight="2:1" gutterSize="16px">
      <!-- Cards de Métricas -->
      <mat-grid-tile>
        <mat-card class="metric-card">
          <mat-card-header>
            <mat-card-title>Total de Projetos</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h1>15</h1>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="metric-card">
          <mat-card-header>
            <mat-card-title>Total de Atividades</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h1>42</h1>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="metric-card">
          <mat-card-header>
            <mat-card-title>Horas Trabalhadas</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h1>120h</h1>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="metric-card">
          <mat-card-header>
            <mat-card-title>Usuários Ativos</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h1>15</h1>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <!-- Gráficos -->
    <div class="chart-container">
      <mat-card class="chart-card">
        <mat-card-header>
          <mat-card-title>Horas por Projeto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ngx-charts-bar-vertical
            [view]="[600, 300]"
            [results]="barChartData"
            xAxisLabel="Projetos"
            yAxisLabel="Horas"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
          >
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>

      <mat-card class="chart-card">
        <mat-card-header>
          <mat-card-title>Distribuição de Tarefas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ngx-charts-pie-chart
            [view]="[600, 300]"
            [results]="pieChartData"
            [labels]="true"
          >
          </ngx-charts-pie-chart>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Tabela de Atividades Recentes -->
    <mat-card style="margin-top: 20px">
      <mat-card-header>
        <mat-card-title>Últimas Atividades</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="recentActivities">
          <ng-container matColumnDef="task">
            <th mat-header-cell *matHeaderCellDef>Tarefa</th>
            <td mat-cell *matCellDef="let activity">{{ activity.task }}</td>
          </ng-container>
          <ng-container matColumnDef="project">
            <th mat-header-cell *matHeaderCellDef>Projeto</th>
            <td mat-cell *matCellDef="let activity">{{ activity.project }}</td>
          </ng-container>
          <ng-container matColumnDef="hours">
            <th mat-header-cell *matHeaderCellDef>Horas</th>
            <td mat-cell *matCellDef="let activity">{{ activity.hours }}h</td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let activity">{{ activity.date }}</td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="['task', 'project', 'hours', 'date']"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['task', 'project', 'hours', 'date']"
          ></tr>
        </table>
      </mat-card-content>

      <mat-card style="margin-top: 20px">
        <mat-card-header>
          <mat-card-title>Lista de Usuários</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table mat-table [dataSource]="usuarios" class="user-table">
            <ng-container matColumnDef="userId">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let usuario">
                {{
                  usuario.userId.length > 7
                    ? (usuario.userId | slice : 0 : 7) + "..."
                    : usuario.userId
                }}
              </td>
            </ng-container>
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef>Nome</th>
              <td mat-cell *matCellDef="let usuario">{{ usuario.username }}</td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let usuario">{{ usuario.email }}</td>
            </ng-container>
            <ng-container matColumnDef="dataCriacao">
              <th mat-header-cell *matHeaderCellDef>Data de Criação</th>
              <td mat-cell *matCellDef="let usuario">
                {{ usuario.dataCriacao | date : "dd/MM/yyyy HH:mm" }}
              </td>
            </ng-container>
            <ng-container matColumnDef="ultimoLogin">
              <th mat-header-cell *matHeaderCellDef>Último Login</th>
              <td mat-cell *matCellDef="let usuario">
                {{
                  usuario.ultimoLogin
                    ? (usuario.ultimoLogin | date : "dd/MM/yyyy HH:mm")
                    : "Nunca"
                }}
              </td>
            </ng-container>
            <ng-container matColumnDef="perfil">
              <th mat-header-cell *matHeaderCellDef>Perfil</th>
              <td mat-cell *matCellDef="let usuario">
                <ul>
                  <li *ngFor="let perfil of usuario.perfil">
                    {{ perfil.name }}
                  </li>
                </ul>
              </td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="[
                'userId',
                'username',
                'email',
                'dataCriacao',
                'ultimoLogin',
                'perfil'
              ]"
            ></tr>
            <tr
              mat-row
              *matRowDef="
                let row;
                columns: [
                  'userId',
                  'username',
                  'email',
                  'dataCriacao',
                  'ultimoLogin',
                  'perfil'
                ]
              "
            ></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
