<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened>
    <!-- Botão para Minimizar/Maximizar -->
    <div class="sidebar-header">
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        style="background-color: rgb(23, 114, 233)"
      >
        <mat-icon>{{
          sidenav.opened ? "chevron_left" : "chevron_right"
        }}</mat-icon>
      </button>
    </div>

    <!-- Links do Sidebar -->
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard-admin" matTooltip="Dashboard">
        <mat-icon>dashboard</mat-icon>
        <span *ngIf="sidenav.opened">Dashboard</span>
      </a>
      <a mat-list-item routerLink="/hours" matTooltip="Lançar Horas">
        <mat-icon>schedule</mat-icon>
        <span *ngIf="sidenav.opened">Lançar Horas</span>
      </a>
      <a mat-list-item routerLink="/reports" matTooltip="Relatórios">
        <mat-icon>assessment</mat-icon>
        <span *ngIf="sidenav.opened">Relatórios</span>
      </a>
      <a mat-list-item routerLink="/cad-users" matTooltip="Criar Usuário">
        <mat-icon>person_add</mat-icon>
        <span *ngIf="sidenav.opened">Criar Usuário</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="logout()" matTooltip="Logout">
        <mat-icon>logout</mat-icon>
        <span *ngIf="sidenav.opened">Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Conteúdo Principal -->
  <mat-sidenav-content>
    <button
      *ngIf="!sidenav.opened"
      mat-fab
      class="sidebar-toggle-button"
      style="width: 60px; background-color: rgb(23, 114, 233)"
      (click)="sidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <!-- alterar daqui  -->
    <div class="container">
      <h2>Criar Novo Usuário</h2>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Nome de Usuário:</label>
          <input
            id="username"
            formControlName="username"
            type="text"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input
            id="email"
            formControlName="email"
            type="email"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Senha:</label>
          <input
            id="password"
            formControlName="password"
            type="password"
            class="form-control"
            required
          />
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="userForm.invalid"
        >
          Criar Usuário
        </button>
      </form>
    </div>

    <!-- ate aqui -->
  </mat-sidenav-content>
</mat-sidenav-container>
