@import "../../../styles/variables.scss";


/* home.component.scss */
.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; /* Fundo branco */
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  cursor: pointer;
}

.logo img {
  width: 285px;
  height: auto;
}

.menu ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 25px;
}

.menu a {
  text-decoration: none;
  color: $primary-color; /* Azul vibrante para os links */
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s, transform 0.3s;
}

.menu a:hover {
  color: #0056b3; /* Azul mais escuro ao passar o mouse */
  transform: translateY(-3px); /* Efeito de "levitação" no link */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .menu-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu ul {
    flex-direction: column;
    margin-top: 10px;
  }

  .menu li {
    margin: 10px 0;
  }
}
/* Estilos para a seção de boas-vindas */
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px; /* Ajuste conforme o seu menu */
  background-color: #f1f1f1;
  height: 40vh; /* Subtrai a altura do menu */
}

.welcome-message {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Espaço abaixo da mensagem */
}

.message {
  font-size: 22px;
  color: #007bff;
  font-weight: 500;
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
  color: #007bff;
  font-weight: 700;
}

/* Estilos para a imagem */
.image-container {
  display: flex;
  justify-content: center; /* Centraliza a imagem */
  margin-top: 20px; /* Adiciona um espaço entre a mensagem e a imagem */
}

.welcome-image {
  width: 70%; /* Ajuste a largura da imagem */
  max-width: 800px; /* Largura máxima para a imagem */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombras para a imagem */
}
