<!-- home.component.html -->
<div class="menu-container">
  <div class="logo">
    <img src="../../../assets/logo-task-350.png" alt="Logo da Marca" />
  </div>

  <nav class="menu">
    <ul>
      <li><a routerLink="/lancar-horas">Lançar horas</a></li>
      <li><a routerLink="/iniciar-sessao">Ver horas</a></li>
      <li><a routerLink="/sobre">Sobre</a></li>
    </ul>
  </nav>
</div>

<div class="welcome-section">
  <div class="welcome-message">
    <h1>Seja bem-vindo ao Taskflow!</h1>
    <p class="message">Seu trabalho em fluxo perfeito!</p>
  </div>
</div>

<div class="image-container">
  <img
    src="../../../assets/dashboard-1.png"
    alt="Imagem de boas-vindas"
    class="welcome-image"
  />
</div>
