<mat-card>
  <mat-card-header>
    <mat-card-title>Gerenciar Projetos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- Formulário para Criar Projetos -->
    <form (ngSubmit)="onSubmit()" #projectForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Nome do Projeto</mat-label>
        <input matInput [(ngModel)]="project.name" name="name" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea
          matInput
          [(ngModel)]="project.description"
          name="description"
        ></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Funcionários Responsáveis</mat-label>
        <mat-select
          [(ngModel)]="project.assignedTo"
          name="assignedTo"
          multiple
          required
        >
          <mat-option *ngFor="let employee of employees" [value]="employee.id">
            {{ employee.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="projectForm.invalid"
      >
        {{ isEditing ? "Atualizar" : "Criar" }}
      </button>
      <button mat-button *ngIf="isEditing" (click)="cancelEdit()">
        Cancelar
      </button>
    </form>

    <!-- Lista de Projetos -->
    <mat-list>
      <mat-list-item *ngFor="let project of projects">
        <h3>{{ project.name }}</h3>
        <p>{{ project.description }}</p>
        <p>
          <strong>Responsáveis:</strong>
          <span *ngFor="let employeeId of project.assignedTo; let last = last">
            {{ getEmployeeName(employeeId) }}{{ !last ? ", " : "" }}
          </span>
        </p>
        <div class="actions">
          <button mat-icon-button (click)="editProject(project)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteProject(project)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
